.navbar {
  background-color: #F7F7F7;
  border-bottom: solid 1px #DDDDDD;
}

body {
  background-image: radial-gradient(white, black);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.container-fluid {
  background-color: #F7F7F7;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1300px;
}

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

.gallery {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

}

@media screen and (max-width: 992px) {
  .gallery {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#hero a {
  color: black;
}

#hero {
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 786px){
  .centered {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
